.images {
  display: flex;
  flex-direction: row;
  animation: slide 20s linear infinite; /* Adjust duration as needed */
}

.images:hover {
  animation-play-state: paused; /* Pause animation on hover */
}

.imageCard {
  width: 400px; /* Fixed width for each card */
  height: 400px; /* Fixed height */
  margin: 0 30px; /* Spacing between cards */
  perspective: 1000px; /* For 3D flip effect */
  flex-shrink: 0; /* Prevent cards from shrinking */
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.imageCard:hover .cardInner {
  transform: rotateY(180deg); /* Flip on hover */
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: #ffffff;
}

.back {
  background-color: #ffffff; 
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by half the container's width */
  }
}
